/* 
*	Base container
*/
.intimidatetime{
	position: absolute;
	z-index: 9999;

	font: 90% Helvetica, sans-serif;
	background-color: #fff;
	border: solid 2px #e4e4e4;
	border-radius: 4px;
	width: 200px;
}
.intimidatetime.intimidatetime-hasDate.intimidatetime-hasTime{
	width: 400px;
}
.intimidatetime:after{
	clear: both;
}
.intimidatetime-inline{
	position: static;
}

/* 
*	Ranges
*/
.intimidatetime-preview{
	text-align: center;
	padding: 10px 0;
}

/* 
*	Ranges
*/
.intimidatetime-range{
	width: 100%;
	border-bottom: solid 1px #e4e4e4;
	float: left;
}

/* 
*	Groups
*/
.intimidatetime-group{
	width: 180px;
	padding: 10px;
	float: left;
}

/* 
*	Buttons
*/
.intimidatetime-buttons{
	float: left;
	padding: 10px;
}
.intimidatetime-buttons button{
	margin: 0 15px 0 0;
}
.intimidatetime-buttons:before{
	clear:both;	
}
.intimidatetime-buttons:after{
	clear:both;	
}